<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>canvas</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    #canvas {
      width: 100vw;
      height: 100vh;
      border: 1px solid red;
      display: block; /*因为canvas元素是行内元素，要想设置宽高，需要将其先设置成block元素*/
    }
  </style>
</head>
<body>
<canvas id="canvas"></canvas>
</body>
<script>
  alert('canvas的画点并不会在标签内追加dom子节点，性能较好');
  let canvas = document.getElementById("canvas");
  canvas.width = document.documentElement.clientWidth;  //width是canvas自带的属性，并不是style属性
  canvas.height = document.documentElement.clientHeight;  //height是canvas自带的属性，并不是style属性
  let ctx = canvas.getContext("2d");

  ctx.fillStyle = "red";  //填充样式
  ctx.strokeStyle = "red";  //描边样式

  let painting = false; //画笔标识符

  canvas.onmousedown = () => {  //当鼠标点击时，启用画笔
    painting = true;
  };

  canvas.onmousemove = (event) => {
    if (painting === true) {
      ctx.beginPath();
      ctx.arc(event.clientX, event.clientY, 10, 0, 2 * Math.PI);
      ctx.stroke();
      ctx.fill();
    } else {
      console.log('当前画笔未生效');
    }
  };

  canvas.onmouseup = () => {  //当鼠标抬起时，禁用画笔
    painting = false;
  }
</script>
</html>
